<div class="main">
   <div class="d-flex justify-content-center h-100 w-100">
      <div class="card">
         <div class="card-header">
            <h3>{{ 'Forget password' | translate }}</h3>
            <div class="d-flex justify-content-end social_icon">
               <a href="https://t.me/Apaqom"
                  ><i class="fab fa-telegram-plane"></i
               ></a>
               <a href="http://cert.qom.ac.ir/"><i class="fas fa-globe"></i></a>
            </div>
         </div>
         <div class="card-body">
            <!-- ForgetPassword Form -->
            <form
               *ngIf="!showResetPassword"
               [formGroup]="forgetPasswordForm"
               (ngSubmit)="onSubmitForgetPassword(forgetPasswordForm.value)"
            >
               <!-- usernameOrEmail filed -->
               <div class="input-group form-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"
                        ><i class="fas fa-user"></i
                     ></span>
                  </div>
                  <input
                     type="text"
                     class="form-control"
                     placeholder="{{ 'Username Or Email' | translate }}"
                     [ngClass]="{
                        'is-invalid':
                           usernameOrEmail.invalid &&
                           (usernameOrEmail.dirty || usernameOrEmail.touched)
                     }"
                     [formControl]="usernameOrEmail"
                  />
                  <div
                     *ngIf="
                        usernameOrEmail.invalid &&
                        (usernameOrEmail.dirty || usernameOrEmail.touched)
                     "
                     class="invalid-feedback"
                  >
                     {{ handleError.usernameOrEmail() }}
                  </div>
               </div>

               <div class="form-group">
                  <input
                     type="submit"
                     value="{{ 'Send Code' | translate }}"
                     class="btn float-right login_btn"
                     (click)="forgetPasswordForm.markAllAsTouched()"
                  />

                  <a
                     class="text-white mt-2"
                     appClickPreventDefault
                     (click)="showCallUs = true"
                  >
                     <i class="fa fa-phone"></i>
                     {{ 'Call Us' | translate }}
                  </a>
               </div>
            </form>

            <!-- ResetPassword Form -->
            <form
               *ngIf="showResetPassword"
               [formGroup]="resetPasswordForm"
               (ngSubmit)="onSubmitResetPassword(resetPasswordForm.value)"
            >
               <!-- code filed -->
               <div class="input-group form-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"
                        ><i class="fas fa-refresh"></i
                     ></span>
                  </div>
                  <input
                     type="text"
                     class="form-control"
                     placeholder="{{ 'Reset Code' | translate }}"
                     [ngClass]="{
                        'is-invalid':
                           code.invalid && (code.dirty || code.touched)
                     }"
                     [formControl]="code"
                  />
                  <div
                     *ngIf="code.invalid && (code.dirty || code.touched)"
                     class="invalid-feedback"
                  >
                     {{ handleError.code() }}
                  </div>
               </div>

               <!-- password filed -->
               <div class="input-group form-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"
                        ><i class="fas fa-lock"></i
                     ></span>
                  </div>
                  <input
                     type="text"
                     class="form-control"
                     placeholder="{{ 'password' | translate }}"
                     [ngClass]="{
                        'is-invalid':
                           password.invalid &&
                           (password.dirty || password.touched)
                     }"
                     [type]="showPassword ? 'text' : 'password'"
                     [formControl]="password"
                  />
                  <div class="input-group-append">
                     <a
                        class="input-group-text"
                        appClickPreventDefault
                        (click)="showPassword = !showPassword"
                     >
                        <i
                           class="fas"
                           [ngClass]="{
                              'fa-eye': showPassword,
                              'fa-eye-slash': !showPassword
                           }"
                        ></i>
                     </a>
                  </div>
                  <div
                     *ngIf="
                        password.invalid && (password.dirty || password.touched)
                     "
                     class="invalid-feedback"
                  >
                     {{ handleError.password() }}
                  </div>
               </div>

               <!-- confirmPassword filed -->
               <div class="input-group form-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"
                        ><i class="fas fa-lock"></i
                     ></span>
                  </div>
                  <input
                     type="password"
                     class="form-control"
                     placeholder="{{ 'confirmPassword' | translate }}"
                     [ngClass]="{
                        'is-invalid':
                           resetPasswordForm.hasError('notSame') &&
                           (confirmPassword.dirty || confirmPassword.touched)
                     }"
                     [formControl]="confirmPassword"
                  />
                  <div
                     *ngIf="
                        resetPasswordForm.hasError('notSame') &&
                        (confirmPassword.dirty || confirmPassword.touched)
                     "
                     class="invalid-feedback"
                  >
                     {{ handleError.confirmPassword() }}
                  </div>
               </div>

               <div class="form-group">
                  <input
                     type="submit"
                     value="{{ 'Reset Password' | translate }}"
                     class="btn float-right login_btn"
                     (click)="resetPasswordForm.markAllAsTouched()"
                  />
               </div>
            </form>
         </div>

         <div
            *ngIf="callUs && showCallUs"
            style="white-space: pre-wrap; border-color: #ffc312 !important;"
            class="text-center text-white border m-2 p-2 rounded"
         >
            {{ callUs }}
         </div>

         <div class="card-footer">
            <div class="d-flex justify-content-center text-white">
               <a
                  class="text-white"
                  appClickPreventDefault
                  [routerLink]="['/login']"
               >
                  {{ 'Back to login' | translate }}
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
