.toolbarclass {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 560px;
    margin-top: 20px;
    background: linear-gradient(to right, #177fb3, #086ca6);
    /* background: linear-gradient(to right, #27b8ff, #0e85ca); */
    box-shadow: #385671 1px 1px 8px;
  }
  
  img {
    mix-blend-mode: multiply;
    width: 100px;
  }
  
  .menuButtonChild {
    background-color: #01579b;
    // font-size: 36px !important;
    font-size: 20px !important;
    width: 214px !important;
    height: 58px !important;
    font-family: "Titrbold" !important;
    margin-left: 14px;
    position: relative;
    top: 5px;
    border-radius: 14px;
  }
  .menuButton {
    background-color: #0099cc;
    // font-size: 36px !important;
    font-size: 28px !important;
    width: 290px !important;
    height: 70px !important;
    font-family: "Titrbold" !important;
    margin-left: 14px;
    position: relative;
    top: 5px;
    border-radius: 14px;
  }
  .menuButton2 {
    background-color: #9933cc;
    // font-size: 36px !important;
    font-size: 28px !important;
    width: 290px !important;
    height: 70px !important;
    font-family: "Titrbold" !important;
    margin-left: 14px;
    position: relative;
    top: 5px;
    border-radius: 14px;
  }
  .menuButton3 {
    background-color: #00838f;
    // font-size: 36px !important;
    font-size: 28px !important;
    width: 290px !important;
    height: 70px !important;
    font-family: "Titrbold" !important;
    margin-left: 14px;
    position: relative;
    top: 5px;
    border-radius: 14px;
  }
  
  .cardStyle {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 500px;
    font-size: 23px;
    direction: rtl;
    border-radius: 14px;
    /* background: linear-gradient(to right, #f7d2f1, #ff7feb); */
    background: linear-gradient(to right, #f5faff, #d5ebff);
    justify-content: center;
    display: flex;
  }
  // .myClass{
  //   color : red;
  //   background-color: red;
  // }
  .firstStyle {
    background-color: red;
    color: red;
  }
  .clickedStyle {
    background-color: yellow;
    color: red;
  }
  
  .copyButton {
    background-color: #01579b;
    font-size: 14px !important;
  
    font-family: "Yekan" !important;
    margin-right: 14px;
    position: relative;
    top: 4px;
    border-radius: 14px;
  }
  
  .backButton {
    // background-color: #ffeb3b !important ;
    background-color: #ef6c00 !important ;
    font-size: 12px !important;
    font-family: "Yekan" !important;
    margin-right: 14px;
  
    border-radius: 14px;
    margin-bottom: 24px;
    // color: #464646;
    color: white;
  }
  
  .shareButton {
    margin: 8px;
  }
  